@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #ff0147;
  --secondary-color: #212429;
  --text-light: #d1d5db;
  --white: #ffffff;
  --max-width: 1200px;
  --max-nav: 720px;
  --nav-color: #666d7a96;
  --bg-proup: linear-gradient(65deg, rgba(22, 4, 88, 0.795),#fc0679d5);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url("assets/bg.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  animation: transitionIn 0.75s;
  scroll-behavior: smooth;
  
}
@keyframes transitionIn {
  from{
      opacity: 0;
      transform: translateY(-60px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}
.container{
  width: 100vw;
  /* outline: auto; */
  /* background-color: #ff01493a; */
  background: linear-gradient(185deg, #07025c5b, #010122f3 );
  overflow: hidden;
}

.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
}
.first{
  /* outline: auto; */
  margin-top: 3%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;
}
.first ul{
  width: 550px;
  background-color: #666d7a96;
  border-radius: 50px;
  padding: 10px 0px;
  max-width: var(--max-nav);
  /* outline: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.first ul li{
  padding: 1% 7%;
  color: #fff;
}
.first ul li a{
  color: #fff;
  font-weight: 500;
  transition: 1s;
}
.first ul li a:hover{
  color: var(--primary-color);
  font-weight: 700;
  /* background-color: #d1d5db; */
}



.tab {
  position: fixed;
  isolation: isolate;
  width: 100%;
  max-width: var(--max-width);
  margin-inline: auto;
  z-index: 999;
  /* outline: auto; */
  display: none;
  visibility: hidden;
}



.nav__header {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
}

.nav__logo a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--white);
}

.nav__logo img {
  display: flex;
  max-width: 36px;
}

.nav__logo span {
  display: none;
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.nav__links {
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background-color: var(--primary-color);
  transition: 0.5s;
  z-index: -1;
  transform: translateY(-100%);
}

.nav__links.open {
  transform: translateY(0);
}

.nav__links a {
  font-size: 1.2rem;
  color: var(--white);
}

.nav__links a:hover {
  color: var(--secondary-color);
}

.header__container {
  margin-top: -5%;
  max-width: var(--max-width);
  margin-inline: auto;
  padding-block: 5rem 2rem;
  padding-inline: 1rem;
  display: grid;
  gap: 2rem;
}

.header__image img {
  width: 100%;
  max-width: 700px;
  margin-inline: auto;
  display: flex;
  filter: drop-shadow(10px 8px 9px #32343896);
  /* border: 1px solid #ff0147; */
  /* outline: auto; */
}
.header__image{
  position: relative;
  /* outline: auto; */
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}

/* .piece {
  right: 50%;
  bottom: 50%;
}
.piece, .piece:before, .piece:after {
  box-sizing: border-box;
  position: absolute;
  border: solid 0.25em var(--primary-color);
  border-width: .25em .125em .125em .25em;
  box-shadow: 1px 1px var(--primary-color);
  width: 9.75em;
  height: 9.75em;
  transform-origin: 100% 100%;
  background: linear-gradient(45deg, rgba(228, 155, 18, 0) 43%, rgba(134, 18, 18, 0.3), rgba(228, 155, 18, 0) 57%);
}
.piece:nth-of-type(1) {
  transform: translate(0em, 0em) rotate(30deg) skewX(-30deg) scaleY(0.86603);
  animation: ani1 1s cubic-bezier(0.65, 0.05, 0.35, 1) infinite;
}
@keyframes ani1 {
  90%, 100% {
    transform: translate(0em, 3.75em) rotate(30deg) skewX(-30deg) scaleY(0.86603);
  }
}
.piece:nth-of-type(2) {
  transform: translate(0em, 3.75em) rotate(30deg) skewX(-30deg) scaleY(0.86603);
  animation: ani2 1s cubic-bezier(0.65, 0.05, 0.35, 1) infinite;
}
@keyframes ani2 {
  90%, 100% {
    transform: translate(3.2476em, 1.875em) rotate(30deg) skewX(-30deg) scaleY(0.86603);
  }
}
.piece:nth-of-type(3) {
  transform: translate(3.2476em, 1.875em) rotate(30deg) skewX(-30deg) scaleY(0.86603);
  animation: ani3 1s cubic-bezier(0.65, 0.05, 0.35, 1) infinite;
}
@keyframes ani3 {
  90%, 100% {
    transform: translate(3.2476em, -1.875em) rotate(30deg) skewX(-30deg) scaleY(0.86603);
  }
}
.piece:nth-of-type(4) {
  transform: translate(3.2476em, -1.875em) rotate(30deg) skewX(-30deg) scaleY(0.86603);
  animation: ani4 1s cubic-bezier(0.65, 0.05, 0.35, 1) infinite;
}
@keyframes ani4 {
  90%, 100% {
    transform: translate(0em, -3.75em) rotate(30deg) skewX(-30deg) scaleY(0.86603);
  }
}
.piece:nth-of-type(5) {
  transform: translate(0em, -3.75em) rotate(30deg) skewX(-30deg) scaleY(0.86603);
  animation: ani5 1s cubic-bezier(0.65, 0.05, 0.35, 1) infinite;
}
@keyframes ani5 {
  90%, 100% {
    transform: translate(0em, 0em) rotate(30deg) skewX(-30deg) scaleY(0.86603);
  }
}
.piece:nth-of-type(6) {
  transform: translate(0em, 0em) rotate(30deg) skewX(-30deg) scaleY(0.86603);
  animation: ani6 1s cubic-bezier(0.65, 0.05, 0.35, 1) infinite;
}
@keyframes ani6 {
  90%, 100% {
    transform: translate(-3.2476em, 1.875em) rotate(30deg) skewX(-30deg) scaleY(0.86603);
  }
}
.piece:nth-of-type(7) {
  transform: translate(-3.2476em, 1.875em) rotate(30deg) skewX(-30deg) scaleY(0.86603);
  animation: ani7 1s cubic-bezier(0.65, 0.05, 0.35, 1) infinite;
}
@keyframes ani7 {
  90%, 100% {
    transform: translate(-3.2476em, -1.875em) rotate(30deg) skewX(-30deg) scaleY(0.86603);
  }
}
.piece:nth-of-type(8) {
  transform: translate(-3.2476em, -1.875em) rotate(30deg) skewX(-30deg) scaleY(0.86603);
  animation: ani8 1s cubic-bezier(0.65, 0.05, 0.35, 1) infinite;
}
@keyframes ani8 {
  90%, 100% {
    transform: translate(0em, 0em) rotate(30deg) skewX(-30deg) scaleY(0.86603);
  }
}
.piece:before, .piece:after {
  right: -.125em;
  bottom: -.125em;
  content: '';
}
.piece:before {
  transform: scaleY(1.1547) skewX(30deg) rotate(-120deg) skewX(-30deg) scaleY(0.86603);
}
.piece:after {
  transform: scaleY(1.1547) skewX(30deg) rotate(120deg) skewX(-30deg) scaleY(0.86603);
} */
/* .header__image spline-viewer {
  width: 100vw;
  max-width: 500px;
  margin-inline: auto;
  display: flex;
  outline: auto;
} */

.header__content {
  overflow: hidden;
  text-align: center;
  /* width: 120%; */
  /* outline: auto; */
}

.header__content h2 {
  position: relative;
  isolation: isolate;
  max-width: fit-content;
  margin-left: auto;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--primary-color);
  text-align: right;
}

.header__content h2::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translate(calc(-100% - 1rem), -50%);
  height: 2px;
  width: 150%;
  background-color: var(--white);
}

.header__content h1 {
  font-size: 5.8rem;
  font-weight: 600;
  color: var(--white);
  line-height: 5rem;
}

.h1__span-1 {
  font-size: 3.3rem;
  color: var(--primary-color);
}

.h1__span-2 {
  font-size: 1.5rem;
  font-weight: 400;
}

.header__content p {
  margin-bottom: 1rem;
  color: var(--text-light);
}

.header__content .btn {
  padding: 0.75rem 1.8rem;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 5rem;
  transition: 0.3s;
  cursor: pointer;
}
.header__content .btnn {
  padding: 0.75rem 1.8rem;
  margin-left: 10px;
  outline: none;
  border: 2px solid #fff;
  font-size: 1rem;
  font-weight: 600;
  color: var(--white);
  background: transparent;
  /* background-color: var(--primary-color); */
  border-radius: 5rem;
  transition: 0.3s;
  cursor: pointer;
}
.header__content .btnn:hover{
  color: var(--primary-color);
  background-color: var(--white);
}
.header__content .btn:hover {
  color: var(--primary-color);
  background-color: var(--white);
}

.socials {
  padding-block: 2rem 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.socials a {
  font-size: 1.5rem;
  color: var(--text-light);
}

.socials a:hover {
  color: var(--primary-color);
}

/* ------------------------------------------ */


.tools{
  /* outline: auto; */
  width: 100%;
  height: 40vh;
  background-color: rgb(255, 255, 255);
  /* margin-top: 20%; */
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
.card-holder{
  /* outline: auto; */
  width: 95%;
  /* height: 300px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.cards{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* outline: auto; */
  /* height: 250px; */
  width: 100%;
}
.card1{
  /* outline: auto; */
  width: 270px;
  height: 200px;
  background-color: var(--white);
  border-radius: 7px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.267);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.card1 i{
  color: var(--primary-color);
  font-weight: 300;
  font-size: 70px;
}
.card1 img{
  width: 50px;
}
.card1 .img{
  width: 100px;
}
.card1 h2{
  color: var(--primary-color);
  font-weight: 500;
}

.footer{
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(185deg, #07025c41, #0101226c );
}
.footer-container {
  font-size: 1rem;
  color: var(--text-light);
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* ----------------PROJECT SECTION------------------- */
.project-container{
  /* margin-top: 10%; */
  /* outline: auto; */
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: transitionIn 0.75s;
}
@keyframes transitionIn {
  from{
      opacity: 0;
      transform: translateY(-60px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.project-container::before{
  position: absolute;
  content: '';
  background: linear-gradient(65deg, #fc0679d5, rgb(22, 4, 88));
  height: 350px;
  width: 350px;
  border-radius: 50%;
  left: -12%;
  top:50%;
  overflow: hidden;
  z-index: -99;
  animation: object1 10s linear infinite;
}
.project-container::after{
  position: absolute;
  content: '';
  background: linear-gradient(65deg, rgb(22, 4, 88),#fc0679d5);
  height: 100px;
  width: 100px;
  border-radius: 50%;
  left: 35%;
  top:15%;
  z-index: -99;
  animation: object2 6s linear infinite;
}

@keyframes object1{
  50%{
      left: -13%;
      top: 61%;
  }
}
@keyframes object2{
  50%{
      left: 35%;
      top: 20%;
  }
}
@keyframes object3{
  50%{
      right: 30%;
      top: 58%;
  }
}

.project-container .content{
  /* outline: auto; */
  /* z-index: 9; */
  /* margin-top: -5%; */
  width: 80vw;
  height: 100vh;
  /* display: flex;
  justify-content: center; */
}
.project-container .content .project1,
.project-container .content .project2{
  /* outline: auto; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* margin-top: -30px; */
  position: relative;
}
.project-container .content .project1 .projectA,
.project-container .content .project2 .projectB{
  /* outline: auto; */
  width: 350px;
  height: 250px;
  color: var(--white);
  background-color: var(--nav-color);
  /* background-color: #545f6e; */
  border-radius: 7px;
  box-shadow: 7px 5px 15px rgba(0, 0, 0, 0.651);
  display: flex;
  align-items: start;
  /* justify-content: center; */
  flex-direction: column;
  padding: 5px 2px;
  transition: transform .10s;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.projectA::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333;
  left: 0;
  top: 0;
  border-radius: 10px;
}
/* glow */
.projectA::before {
  content: "";
  /* background: linear-gradient(
    45deg,
    #FF0000, #FF7300, #FFFB00, #48FF00,
    #00FFD5, #002BFF, #FF00C8, #FF0000
  ); */
  background: var(--bg-proup);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height:  calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  opacity: 0;
}

@keyframes glowing {
  0% {background-position: 0 0;}
  50% {background-position: 400% 0;}
  100% {background-position: 0 0;}
}

/* hover */
.projectA:hover::before {
  opacity: 1;
}

.projectA:active:after {
  background: transparent;
}

.projectA:active {
  color: #000;
  font-weight: bold;
}

/* ====================================== */
.projectB::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333;
  left: 0;
  top: 0;
  border-radius: 10px;
}
/* glow */
.projectB::before {
  content: "";
  background: linear-gradient(
    45deg,
    #FF0000, #FF7300,
    #00FFD5, #002BFF,  #FF0000
  );
  /* background: var(--bg-proup); */
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height:  calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  opacity: 0;
}

@keyframes glowing {
  0% {background-position: 0 0;}
  50% {background-position: 400% 0;}
  100% {background-position: 0 0;}
}

/* hover */
.projectB:hover::before {
  opacity: 1;
}

.projectB:active:after {
  background: transparent;
}

.projectB:active {
  color: #000;
  font-weight: bold;
}



/* @property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.projectA::after, .projectA::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 3px;
  border-radius: 10px;
  animation: 3s spin linear infinite;
}
.projectA::before{
  filter: blur(1.5rem);
  opacity: 0.5;
}
@keyframes spin{
  from{
    --angle: 0deg;
  }
  to{
    --angle: 360deg;
  }
} */

.project-container .content .project1 .projectA i,
.project-container .content .project2 .projectB i{
  /* padding-left: 5%; */
  /* display: inline-flex;
  justify-content: flex-end; */
  font-size: 30px;
  /* outline: auto; */
  position: absolute;
  left: 90%;
  top: 5%;
  color: var(--primary-color);
  transition: 1s;
}
.project-container .content .project1 i:hover{
  color: var(--text-light);
}
.project-container .content .project2 i:hover{
  color: var(--text-light);
}

.project-container .content .project1 h2,
.project-container .content .project2 h2{
  color: var(--primary-color);
  z-index: 9;
}
.project-container .content .project1 p,
.project-container .content .project2 p{
  /* color: var(--primary-color); */
  z-index: 9;
}
.project-container .content .testimonals{
  /* outline: auto; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3%;
  margin-bottom: 2%;
}
.project-container .content .testimonals .testA{
  /* outline: auto; */
  width: 400px;
  height: 80px;
  background-color: var(--nav-color);
  border-radius: 7px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.267);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  cursor: pointer;
  transition: transform .10s;
}
.project-container .content .testimonals .testA:hover{
  background-color: #474b53e3;
  background: var(--bg-proup);
  transform:scale(1.2);
}

.project-container .content .testimonals .testA img{
  width: 40px;
  border-radius: 40px;
  border: 2px solid #ff0147;
  margin-right: 2%;
}
/* ---------------- */
#footer{
  /* outline: ; */
  
  margin-top: 10rem;
  background-color: black;
  padding: 2.5rem 5rem;
}
#footer .p{
  color: hsl(0, 0%, 100%);
  text-align: end;
}
.sub-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer .logo{
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  /* width: 100%; */
}
#footer .content ul{
  color: white;
  font-size: 1rem;
  list-style: none;
}
#footer .content a{
  text-decoration: none;
  color: white;
  line-height: 2;
}
#footer .mission{
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  }
#footer .mission-content{
  color: white;
  line-height: 2;
  font-size: 1rem;
}
.taste{
  display: flex;
  justify-content: center;
  align-items: center;
}
.taste a{
  border: 1px solid white;
  padding: .5rem;
  color: white;
  text-decoration: none;
}

.last_footer{
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-top: 6rem;
}
.bit{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}
.bit span{
  font-size: 2rem;
  color: white;
}
.newspapper h3{
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
}
.newspapper form{
  width: 300px;
  background-color: black;
}
.newspapper form input {
  background-color: black;
  color: white;
  border: none;
  outline: none;
  width: 400px;
  padding: 10px 7px;
}
.newspapper form input:focus{
  
  color: orange;
  background-color: black;
}
.footer_social{
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.footer_social i{
  color: white;
  font-size: 1.3rem;
  padding-left: 20px;
  text-decoration: none;
}
#footer .p{
  display: flex;
  justify-content: end;
}
#footer .p:hover{
  color: var(--primary-color);
}
.copyright{
color: #fff;
border-top: 1px solid #fff;
width: 100%;
text-align: center;
padding: 25px 0;
background: #000000;
font-weight: 300;
}
.copyright span{
font-size: 13px;
}












































@media only screen and (max-width: 858px){
  .project-container .content .project1,
  .project-container .content .project2{
    /* outline: auto; */
    flex-direction: column;
    position: relative;
  }
  .project-container .content .project1 .projectA,
  .project-container .content .project2 .projectB{
    /* outline: auto; */
    width: 380px;
    height: 350px;
    margin-top: 15%;
  }
  .project-container .content .project2{
    /* outline: auto; */
    margin-top: -13%;
  }
  #footer{
    /* outline: ; */
    
    margin-top: 80rem;
    /* background-color: black;
    padding: 2.5rem 5rem; */
  }

}
@media only screen and (max-width: 768px){
  .first{
    /* outline: auto; */
    visibility: hidden;
    display: none;
  }
  .tab{
    visibility: visible;
    display: block;
  }
  .header__content {
    overflow: hidden;
    text-align: center;
    /* width: 120%; */
    /* outline: auto; */
    /* margin-top: 50%; */
  }
  /* ///////////////////// footer style ////////////////// */

    .sub-footer{
      align-items: start;
  }
  #footer{
    /* outline: auto; */
    padding-left: 34px;
  }
  #footer .logo{
      font-size: 1.5rem;     
  }
  #footer .content ul{
      font-size: 13px;
  }
  #footer .mission{
      font-size: 1.5rem;
  }
  #footer .mission-content{
      font-size: 15px;
      width: 50vw;
  }
  .taste{
      display: flex;
      justify-content: end;
  }
  .taste a{
      font-size: 1rem;
  }
  .newspapper h3{
      font-size: 1rem;
  }
  .newspapper form input {
      padding: 6px 7px;
  }
  .footer_social{
      width: 200px;
      display: flex;
      /* outline: auto; */
  }
  .footer_social i{
      font-size: 1.5rem; 
  }
  #footer .p{
    font-size: 13px;
  }
  .copyright p{
      font-size: 1rem;
  }
  
}
@media screen and (max-width: 550px) {
  .project-container .content .project1 .projectA,
  .project-container .content .project2 .projectB{
    /* outline: auto; */
    width: 350px;
    height: 250px;
    margin-top: 25%;
  }
  .sub-footer{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: start;
    /* outline: auto; */
  }
  #footer .logo{
    color: #ffffff;
    font-size: 1rem;
    font-weight: 700;
    /* width: 100%; */
  }
  #footer .content{
    margin-bottom: 25px;
  }
  #footer .content ul{
    color: white;
    font-size: 13px;
    list-style: none;
    /* outline: auto; */
  }
  #footer .content a{
    text-decoration: none;
    color: white;
    line-height: 2;
  }
  #footer .mission{
    color: white;
    font-size: 1rem;
    font-weight: 700;
    }
  #footer .mission-content{
    font-size: 13px;
    width: 70vw;
    margin-bottom: 25px;
    /* outline: auto; */
  }
  .newspapper{
  display: inline-flex;
  flex-direction: column;
  /* outline: auto; */
  }
  .footer_social{
      justify-content: end;
      width: 100%;
  }
  .last_footer{
      flex-direction: column;
  }
  .copyright p{
      font-size: 10px;
  }
}
@media screen and (max-width: 375px) {
  #footer .logo{
      font-size: 1.2rem;
  }
  #footer .content ul{
      font-size: 13px;
  }
  #footer .mission{
      font-size: 1.2rem;
  }
  #footer .mission-content{
      font-size: 13px;
      width: 70vw;
  }
  .newspapper form{
      width: 250px;
  }
}


@media only screen and (width < 760px){
  .tab{
    /* outline: auto; */
    /* display: none; */
    /* visibility: visible; */
  }
}
@media (width > 768px) {
  .tab {
    display: flex;
    /* visibility: visible; */
    position: static;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .nav__header {
    padding: 0;
    background-color: transparent;
  }

  .nav__logo span {
    display: flex;
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    position: static;
    padding: 0;
    flex-direction: row;
    justify-content: flex-end;
    gap: 3rem;
    background-color: transparent;
    transform: none;
  }

  .nav__links a:hover {
    color: var(--primary-color);
  }

  .header__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding-block: 2rem;
  }

  .header__image {
    grid-area: 1/2/2/3;
  }

  .header__content {
    text-align: left;
  }

  .socials {
    justify-content: flex-start;
  }
}
